$accent-color: #ffc400;

$white-color: #ffffff;

$black-color: #282828;

$light-gray-color: #c1c1c1;

$gray-color: #858585;

$font-name-main: "FuturaPT";

$font-name-second: "Montserrat";

$sidebar-font-name: "Montserrat";

$btn-radius: 100px;

$btn-color: #282828;

$header-text-size: 14px;

$font-weight-bold: 600;

$sidebar-icon-color: invert(82%) sepia(56%) saturate(2848%) hue-rotate(359deg)
  brightness(102%) contrast(101%);

$menu-text-size: 14px;

$menu-notification-color: #282828;

$menu-lang-font-weight: 500;

$balance-card-balance-font-size: 32px;

$balance-default-currency-font-weight: 500;

$balance-hovered-btn-svg: invert(17%) sepia(39%) saturate(0%) hue-rotate(194deg)
  brightness(86%) contrast(100%);

// - SVG-FILTER-COLOR_BLACK - filter: invert(12%) sepia(1%) saturate(0%) hue-rotate(212deg) brightness(101%) contrast(91%);
// - SVG-FILTER-COLOR_WHITE - filter: invert(100%) sepia(1%) saturate(1442%) hue-rotate(182deg) brightness(115%) contrast(100%)
// - SVG-FILTER-COLOR_GRAY-85 - filter: invert(56%) sepia(0%) saturate(2%) hue-rotate(158deg) brightness(94%) contrast(89%);
// - SVG-FILTER-COLOR_ACCENT-YELLOW - filter: invert(75%) sepia(82%) saturate(2256%) hue-rotate(1deg) brightness(106%) contrast(103%);
